body{
  margin:0px;
  padding:0px;
}
.header{
  position: absolute;
  height:100px;
  width:100%;
}
.header ul{
  padding:0px;
  margin:0px;
  list-style: none;
}
.header li{
  margin:0px;
  padding:0px;
}
.header .nav{
  float:left;
  height:100%;
  width:200px;
}
.header .nav ul{
  height:100%;
  width:100%;
}
.header .nav li{
  float:left;
  padding:10px;
}
.header .logo{
  float:left;
}
